.auth-modal {
    padding: 2em 2em;
    color: #000;
}

.auth-menu {
    margin: 1em 0;
    text-align: center;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
}

.register-button {
    color: rgb(168, 168, 168);
}

.auth-modal input,
.auth-modal button {
    width: 100%;
    margin: .1em 0 .7em;
    box-sizing: border-box;
}

.auth-modal button {
    border: none;
    background: #000;
    color: #fff;
    font-family: 'Comfortaa', cursive;
}