.auth-menu {
    text-align: center;
}

.auth-modal .auth-menu .button {
    margin: 1em 0;
    border-bottom: 1px solid transparent;
    font-size: 1.8em;
    font-family: 'Comfortaa', Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* Cancel button styles */
    height: 1em;
    width: initial;
    line-height: initial;
    background: transparent;
    color: #000;
}

/* .auth-menu .active-button,
.auth-modal .auth-menu .inactive-button {
    text-decoration: none;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
} */

.auth-modal .auth-menu .active-button {
    color: #000;
}

.auth-modal .auth-menu .inactive-button {
    color: rgba(168, 168, 168, .6);
}

.auth-modal .auth-menu .inactive-button:hover {
    color: rgba(168, 168, 168, 1);
    border-bottom: 1px solid rgb(168, 168, 168);
    cursor: pointer;
}

.auth-menu .inactive-button:hover {
    text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.auth-modal .auth-menu .sign-in-button:after {
    vertical-align: top;
    font-size: .8em;
    content: " | ";
}

