.auth-menu {
    text-align: center;
}

.auth-modal .auth-menu .button {
    margin: 1em 0;
    border-bottom: 1px solid transparent;
    font-size: 1.8em;
    font-family: 'Comfortaa', Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* Cancel button styles */
    height: 1em;
    width: initial;
    line-height: initial;
    background: transparent;
    color: #000;
}

.auth-modal .auth-menu > .active-button {
    color: rgba(0, 0, 0, 1);
}

.auth-modal .auth-menu > .inactive-button {
    color: rgba(0, 0, 0, .5);
}

.auth-modal .auth-menu > .inactive-button:hover {
    border-bottom: 1px solid #000;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.auth-modal .auth-menu > .sign-in-button:after {
    vertical-align: top;
    font-size: .8em;
    content: " | ";
    opacity: 1;
}