.dashboard {
    padding: 5em 0 0;
    background: url(/static/media/bg-ash-paneling-seamless.273cd7fa.jpg);
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}