.landing-story {
    margin-bottom: 2em;
    padding: 2.5%;
}

@media only screen and (min-width: 600px) {
    .landing-story {
        width: 45%;
    }
}

@media only screen and (min-width: 1000px) {
    .landing-story {
        width: 28%;
    }
}

.landing-story h3 {
    margin: .3em;
}

.landing-story avatar,
.landing-story img {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50% 50%;
    background: #000;
}

.landing-story p {
    margin: .3em;
}