.landing-story {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #fff;
  background: #fff;
  color: #000;
  padding: 1.5em;
  box-sizing: border-box;
  flex: 0 1 calc(100% - 1em);
}

@media only screen and (min-width: 60em) {
  .landing-story {
    flex: 0 1 calc(48% - 1em);
  }
}

@media only screen and (min-width: 80em) {
  .landing-story {
    flex: 0 1 calc(30% - 1em);
  }
}

.landing-story h3,
.landing-story h4 {
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.17em;
  font-family: Roboto, sans-serif;
}

.landing-story h3 {
  font-size: 1.5em;
  text-transform: lowercase;
}

.landing-story h4::before {
  height: 1em;
  line-height: 1em;
  width: 1em;
  text-align: center;
  margin-right: .35em;
  display: inline-block;
  font-size: .55em;
  color: transparent;
  vertical-align: middle;
  text-shadow: 0 0 0 #118696;
  padding: .3em .6em .3em .3em;
  content: '\1F464';
  font-size: .8em;
  background-color: #fff;
}

.landing-story img {
  display: inline-block;
  max-height: 300px;
  max-width: 100%;
  background: #fff;
}

.landing-story p {
  text-align: left;
}