.landing-container {
    margin: auto auto;
    max-width: 800px;
}

.section {
    min-height: 100vh;
    padding: 6em 2em 5em 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.section-light {
    background: #fff;
    color: #000;
}

.section-dark {
    background: #118696;
    color: #fff;
}

.section p {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    flex-basis: 100%;
}

.masthead {
    padding: 11em 0 5em 0;
    background: #118696;
    color: #fff;
}

.tagline {
    padding: 0;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1em;
}

.blinking {
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.app-name {
    margin: -.75em 0 .75em 0;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}

header .button {
    margin: 1em;
}

.app-demo {
    text-align: center;
}
.app-demo .img-placeholder,
.app-demo img {
    margin: 2em auto 0 auto;
    width: 200px;
    height: 400px;
    background: #000;
}

.landing h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2em;
}
.landing footer {
    min-height: auto;
}

.landing footer button {
    font-weight: bold;
}