.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.modal {
    min-width: 300px;
    max-width: 700px;
    height: 90%;
    margin: 0 auto;
    padding: 2em;
    border-radius: 7px;
    z-index: 2;
    overflow-y: scroll;
    background: #fff;
    color: #000;
}

@media only screen and (min-width: 500px) {
    .modal {
        width: 80%;
    }
}

.modal label {
    color: rgb(168, 168, 168);
}

.modal input,
.modal button {
    width: 100%;
    margin: .1em 0 .9em;
    box-sizing: border-box;
}

.modal input {
    border: 0;
    border-bottom: 1px solid #000;
    padding: 1em;
}

.modal button {
    border: none;
    height: 2em;
    background: #000;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
}

.close-card {
    position: absolute;
    top: 15px;
    right: 15px;
}