.story-container {
    position: relative;
}

.card {
    position: relative;
    display: inline-block;
    margin: 2.5%;
    padding: 7% 7%;
    height: 350px;
    font-size: 1em;
    overflow: hidden;
    background: rgba(254, 251, 247, .8);
}

@media only screen and (min-width: 850px) {
    .card {
        width: 45%;
        height: 450px;
    }
}

.card:hover {
    background: rgba(254, 251, 247, 1);
}

.card-open {
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    min-width: 350px;
    height: 85%;
    margin: 0 2.5% 2.5%;
    padding: 30px;
    font-size: 1.25em;
    background: rgba(254, 251, 247, 1);
    overflow: scroll;
}

@media only screen and (min-width: 850px) {
    .card-open {
        padding: 3em;
    }
}

.story-title {
    font-size: 1.3em;
    margin: 0 0 10px 0;
}

.card-open .story-title {
    margin-bottom: .5em;
    height: 2em;
}

.delete-activity {
    float: right;
    text-decoration: none;
}

.card-toolbar {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em;
    font-size: 1.3em;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.card-button {
    padding: 0 .3em;
    box-sizing: content-box;
}

.card-button:hover {
    color: rgb(168, 168, 168);
    cursor: pointer;
}

.card-button.fa-times {
    font-size: 1.3em;
    padding: 0;
}