a.nav-button {
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 0;
    font-weight: bold;
}

a.nav-button:hover,
a.nav-button:focus {
    color: #ab3fb5;
}

#nav-bar {
    position: absolute;
    top: 2.5em;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav-bar ul {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 1em;
}

#nav-bar a,
#nav-bar a:visited,
#nav-bar a:active {
    display: block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    height: 1.5em;
    border-bottom: 1px solid #ccc;
}

#nav-bar a:hover,
#nav-bar a:focus {
    background: #ab3fb5;
}

#nav-bar li:last-child a {
    border-bottom: none;
}