.shared-story {
  padding: 5em 0 0;
  background: rgb(184, 184, 184) url(./bg-ash-paneling-seamless.jpg);
  background-repeat: repeat;
  min-height: 85vh;
  overflow: auto;
}

.shared-story .card .card-toolbar {
  display: none;
}

.shared-story .card {
  position: relative;
  box-sizing: border-box;
  flex: 1 1 95%;
  width: 95%;
  margin: 0 2.5% 2.5%;
  padding: 30px;
  font-size: 1.25em;
  background: rgba(254, 251, 247, 1);
  overflow: scroll;
}

@media only screen and (min-width: 850px) {
  .shared-story .card {
    padding: 3em;
  }
}