.story {
    overflow: hidden;
}

.story-title {
    font-family: Comforta, sans-serif;
    text-transform: lowercase;
}

.story p {
    font-family: Georgia, "Times New Roman", Times, serif;
    white-space: normal;
    overflow: hidden;
}

.card-fader {
        position: absolute; 
        bottom: 0;
        height: 2.5%;
        border: 1px solid red;
        background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        ); 
        background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
}