.top-bar {
    top: 0;
    left: 0;
    z-index: 7;
    position: fixed;
    height: 2.5em;
    width: 100%;
    /* min-width: 375px; */
    padding-left: 1em;
    line-height: 2.5em;
    font-size: 1.75em;
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.page-title {
    padding: 1em;
    line-height: 2.5em;
    vertical-align: middle;
    font-family: 'Comfortaa', Verdana, cursive;
}

.top-bar .menu-button {
    /* Cancel app button styles */
    width: initial;
    margin: initial;
    min-width: initial;
    border: initial;
}

.top-bar .menu-button:hover {
    /* Cancel app button styles */
    color: rgb(168, 168, 168)
}