.top-bar {
    top: 0;
    left: 0;
    z-index: 7;
    position: fixed;
    height: 2.5em;
    width: 100%;
    line-height: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    background-color: #000;
    color: #fff;
}

.page-title {
    display: inline;
    padding: 0 .5em;
    line-height: 2.5em;
    vertical-align: middle;
    font-family: 'Comfortaa', Verdana, cursive;
}

.top-bar .menu-button {
    padding: 0 .5em;
    opacity: 1;
    color: white;
    opacity: 1;
    /* Cancel app button styles */
    width: initial;
    min-width: initial;
    margin: initial;
    border: initial;
}

.top-bar .menu-button:hover {
    opacity: .8;
}