.writer {
    background: url(), linear-gradient(to right, red , purple);
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    color: transparent;
    background-clip: text;
    padding: 0;
}

.writer-main {
    padding: 5em 1em;
    background: rgba(0, 0, 0, .6);
    min-height: 100vh;
    color: #fff;
}

.writer-container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.story-header {
    padding: 0 0 1em;
}

.story-header h1,
.timer {
    margin-bottom: 1em;
    font-size: 1.75em;
    font-family: 'Comfortaa', Verdana, sans;
}

.timer {
    float: right;
}

.timer i {
    font-size: 2em;
}

.target-word-label {
    width: 50%;
    padding: 1px;
    box-sizing: border-box;
    text-align: center;
}

.target-word {
    width: 50%;
    float: right;
    box-sizing: border-box;
    text-align: center;
    border: 1px dashed #fff;
}

.story-input,
.story {
    font-size: 1em;
}

.story-input {
    display: inline-block;
    vertical-align: middle;
    height: 4em;
    margin-top: 2em;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    background: transparent;
    color: white;
}

.story {
    line-height: 2em;
    margin: .5em 0 .5em;
}
.story picture,
.story img {
    float: right;
    height: 150px;
    width: 150px;
    background: #000;
    margin: 1em 0 1em 1em;
}

.writer-footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    font-size: 16px;
    background: #000;
    padding-inline-start: 0;
}
.writer-footer li {
    list-style-type: none;
    box-sizing: border-box;
}

.writer-footer .button {
    width: 50%;
    float: right;
    box-sizing: border-box;
    background: #000;
    color: #fff;
}